{% extends "item/base.html" %} {% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Item Price</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr>
      <td class="iname">{{i.item_name}}</td>
      <td class="iprice">PHP {{i.item_price}}</td>
      <td class="text-center">
        <a class="btn btn-primary itemupd mx-4" href="">Update</a>
        <a
          class="btn btn-danger itemdel mx-4"
          href="{% url 'delete_item' pk=i.pk%}"
        >
          Delete
        </a>
        <input type="hidden" class="form-control nmeid" value="{{i.pk}}" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
